@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edição de Equipe</h1>

@if (ViewBag.UserName == null)
{
    <p>Usuario nao Logado!</p>
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">
       Logar
    </a>
}
else
{

<form method="post" action='@Url.Action("Atualizar")' enctype="multipart/form-data"> 

    <input type="Hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

    <label for=""></label>
    <input type="text" name="Nome" value="@ViewBag.Equipe.Nome">

    <label for=""></label>
    <input type="file" name="Imagem" value="@ViewBag.Equipe.Imagem">

    <button type="submit">Atualizar</button>
</form>
}