@model Jogador

@{
    ViewData["Title"] = "Jogadores";
}

<h1>Tela de Jogadores</h1>

<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Imagem</th>
    </thead>

</table>
